body {
  width: 600px;
  background: #b6d9f0;
  margin: 0 auto;
  display: block;
}
h1 {
  text-align: center;
  margin: 0 auto;
  top: 10px;
  padding: 60px 1px 5px;
  font-family: "Bebas Neue", cursive;
  color: black;
}
h1:hover {
  color: purple;
}

.date-time {
  font-size: 20px;
  padding: 0px 0px 10px;
  font-family: "Times New Roman", Times, serif;
  color: #26408e;
  text-align: center;
  margin: 0 auto;
}

sup {
  vertical-align: super;
  font-size: 15px;
}
.celsius {
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  padding-bottom: 20px;
}
.temp-description {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0px;
}
.wind-speed {
  padding-bottom: 20px;
}
.temp-high {
  text-align: center;
}
.temp-low {
  text-align: center;
}
.weather-forecast {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}
.weather-forecast-temp-low {
  color: #7f848a;
  text-align: center;
}
.sun {
  font-family: "Poppins", sans-serif;
  border: solid 1px blue;
  border-radius: 20px;
  line-height: 48px;
}
.sunrise-time {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 0px;
}
.sunset-time {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 0px;
}
.code {
  font-family: monospace;
}
